.arrow-icon{width:28px;height:auto;filter:invert(1)}
.bar-title{margin:auto;font-size:1.4rem;font-weight:500}
.glass-bar{
  position:sticky;top:0;z-index:10;
  display:flex;align-items:center;gap:1rem;
  padding:.75rem 1.5rem;
  background:var(--glass);backdrop-filter:blur(10px);
  border-bottom:1px solid var(--accent);
}
.title{ color: rgba(255, 255, 255, 0.856);font-weight: 500;font-size:1.5rem;}
.arrow{scale: 0.6;}


#themeToggle{background:none;border:none;cursor:pointer}
#themeToggle img{width:24px;height:24px;filter:invert(1)}
.light-mode #themeToggle .light-icon{display:none}
        :not(.light-mode) #themeToggle .dark-icon{display:none}


.profile-main{padding:2rem 4vw;display:grid;place-items:center;gap:2rem}
.profile-card{
  display:flex;gap:1.5rem;align-items:center;
  background:var(--glass);border:1px solid var(--accent);
  border-radius:var(--radius);padding:1.5rem;
  width:100%;
  flex-direction:column;
  max-width: 100%;
  word-break: break-word;
  min-width: 0; 
}


.avatar-box{position:relative}
#avatarImg{width:90px;height:90px;border-radius:50%;border:3px solid var(--accent);cursor:pointer}
#fileInput{display:none; }



#userName, #userTag {
  max-width: 20ch;
  overflow: hidden;
  line-height: 1.3em;
  max-height: calc(1.3em * 2);   
  word-break: break-word;
}


.rpm-section{width:100%;max-width:100%;}
#rpmFrame{width:100%;height:600px;border:none;border-radius:var(--radius)}
#rpmUrl.hidden{display:none}